.main-cards{
    margin-top: 100px;
}
.ex-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.name{
    width: 70px;
}
.price{
    width: 70px;
}
.rank{
    width: 70px;
}